img {
    width: 75%;
}

a {
    color: black;
}

.productos {
    display: inline-flex;
}

.color-btn {
    background-color: rgb(0, 0, 0);
    color: white;
}

.container {
    text-align: center;
}